extends layout

block content
    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{JSON.stringify(data)}
      window.__ENV__ = !{JSON.stringify(env)}
    div.container#app!= content